@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

@font-face {
    font-family: 'android';
    src: url('../fontes/iDroid.otf') format('opentype');
    font-weight: normal
}

:root { /* Variável CSS */
    --cor0: #c5ebd6;
    --cor1: #83e1ad;
    --cor2: #3ddc84;
    --cor3: #2fa866;
    --cor4: #1a5c37;
    --cor5: #063d1e;

    --font-padrao: Arial, Verdana, Helvetica, sans-serif;
    --font-destaque: 'Bebas Neue', 'cursive';
    --font-android: 'android', 'cursive';
}

* { /* Configuração geral */ 
   margin: 0px; 
   padding: 0px;
}

body {
    background-color: var(--cor0);
    font-family: var(--font-padrao);
}

a.externo::after {
    content: '\00A0\1F517'
}

header {
    background-image: linear-gradient(to bottom, var(--cor3), var(--cor5));
    min-height: 150px;
    text-align: center;
    padding-top: 30px;
}

header > h1 {
    color: white;
    font-family: var(--font-destaque);
    font-size: 3em;
    font-weight: normal;
    margin-bottom: 20px;
    text-shadow: 2px 2px 0px rgb(0, 0, 0, 0.315);
}

header > p {
    color: white;
    font-family: var(--font-padrao);
    font-size: 1.2em;
    max-width: 500px;
    padding-right: 10px;
    padding-left: 10px;
    margin: auto;
    padding-bottom: 40px;
    text-shadow: 2px 2px 0px rgb(0, 0, 0, 0.315);
}

nav {
    background-color: var(--cor5);
    text-align: center;
    padding: 10px;
    box-shadow: 0px 7px 7px rgb(0, 0, 0, 0.315);
}

nav > a {
    color: var(--cor1);
    padding: 10px;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
    transition-duration: 0.5s; /* Tempo de duração da animação */
}

nav > a:hover {
    background-color: var(--cor3);
    color: var(--cor5);
}

main {
    background-color: white;
    min-width: 300px;
    max-width: 1000px;
    margin: auto;
    margin-bottom: 30px; /* Para separar o conteúdo do rodapé */
    padding: 20px;
    box-shadow: 0px 0px 10px rgb(0, 0, 0, 0.315);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px; /* Para arrendondar somente a borda inferior */
}

main h1 {
    color: var(--cor5);
    font-family: var(--font-android);
    font-size: 1.8em;
    font-weight: normal;
}

main h2 {
    color: var(--cor4);
    font-family: var(--font-android);
    font-size: 1.3em;
    font-weight: normal;
    background-image: linear-gradient(to right, var(--cor1), transparent);
    text-indent: 8px;
}

main p {
    margin: 20px 0px 20px 0px;
    text-align: justify;
    text-indent: 30px; /* Espaço de início do texto */
    font-size: 1em;
    line-height: 1.5em;  /* Espaço entre as linhas de texto */
}

main a {
    color: var(--cor5);
    font-weight: bold;
    text-decoration: none;
    background-color: var(--cor1);
    padding: 2px 6px;
}

main a:hover {
    text-decoration: underline;
    color: var(--cor4);
}

main strong {
    color: var(--cor4);
    font-weight: bold;
}

main img {
    width: 100%;
}

main img.pequena {
    max-width: 350px;
    display: block; /* Usado para transformar imagem em bloco */
    margin: auto; /* Usado para centralizar */
}

div.video {
    background-color: var(--cor5);
    margin: 0px -20px 30px -20px;
    padding: 20px;
    padding-bottom: 59%;
    position: relative;
}

div.video > iframe {
    position: absolute;
    top: 5%;
    left: 5%;
    width: 90%;
    height: 90%;
}

aside {
    background-color: var(--cor1);
    border-radius: 10px;
    padding: 10px;
    box-shadow: 3px 3px 9px rgba(0, 0, 0, 0.315);
}

aside h3 {
    background-color: var(--cor4);
    color: white;
    border-radius: 10px 10px 0px 0px;
    padding: 10px;
    margin: -10px -10px 0px -10px; /* Para aumentar o background */
}

aside p {
    text-align: justify;
    text-indent: 30px;
}

aside > ul {
    text-indent: 90px;
    list-style-type: '\2714\00A0\00A0'; /* \00A0 espaço em branco para separar os check mark do texto (não compatível com alguns navegadores */
    list-style-position: inside; /* Passar as bolinhas para dentro .-. */
    columns: 2; /* Dividir a lista em 2 colunas */
}

footer {
    background-color: var(--cor5);
    color: white;
    font-size: 0.8em;
    text-align: center;
    padding: 5px;
}

footer p {
    color: white;
}

footer p > a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

footer a:hover {
    text-decoration: underline;
    color: var(--cor1);
}